.footer {
    display: flex;
    flex-direction: column;
    background: #f3e4d4;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 73px;

    @media only screen and (min-width: 1366px) {
        display: flex;
        flex-direction: row;
        padding-left: 83px;
    }

    ul {
        @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: space-around;

            @media only screen and (min-width: 1366px) {
                margin-left: 88px;
                transform: translateY(-12px);
            }
        }


        li {
            a:hover {
                color: rgb(0, 92, 28);
                transition: all 0.3s ease-in-out;
            }
            margin-top: 24px;

            .footer__info {
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: #1E1E1E;

                @media only screen and (min-width: 1366px) {
                    margin-right: 48px;
                }
            }
        }
    }

    img {
        height: 30px;
    }
}