.header {
    width: 100vw;
    margin-top: 60px;
    margin-bottom: 39px;
    background: linear-gradient(to bottom, #542c14 80%, white 20%);


    @media only screen and (min-width: 1366px) {
        background: linear-gradient(to bottom, #542c14 50%, white 50%);
   background-color: aquamarine;
    }


    .header__title {
        padding: 24px 0px 16px 16px;
        font-style: normal;

        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        @media only screen and (min-width: 768px) {
            padding-left: 48px;
            padding-right: 48px;
          }
          @media only screen and (min-width: 1366px) {
            padding-left: 83px;
            padding-right: 83px;
          }

    }

    .header__picture {
        position: relative;
        margin-left: 21px;
        margin-right: 21px;
        color: white;
        @media only screen and (min-width: 768px) {
            margin-left: 80px;
            margin-right: 80px;
          }

        @media only screen and (min-width: 1366px) {
            height: 400px;
            background-image: url("../assets/images/kotylogo.jpg");
            background-position: center; 
            background-size: 100%;
        }


        .header__picture-- {
            position: absolute;
            z-index: 5;
            bottom: 36px;
            padding-left: 8px;
            padding-right: 8px;
            font-style: normal;

            font-size: 18px;
            line-height: 24px;
            color: #FFFFFF;

        }

        .header__picture__informations {
            display: flex;
            position: absolute;
            width: 100%;
            bottom: 12px;
            left: 8px;
            z-index: 4;

            .header__picture__informations-- {
                display: flex;

                .item {
                    margin-right: 8px;
                }

                .item-value {
                    margin-right: 16px;
                }
            }
        }

        .header__picture--container {
            .header__picture--img {
                width: 100%;

                @media only screen and (min-width: 1366px) {
                    display: none;
                }

                &::before {
                    content: "";
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%);
                    position: absolute;
                    width: 100%;
                    height: 120px;
                    bottom: 0px;
                }
            }
        }
    }
}