@import url("./reset.css");
@import url("./header.css");
@import url("./main.css");
@import url("./pagination.css");
@import url("./footer.css");
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nav_wrapper.start {
  position: absolute;
  top: calc((-100vh - 60px));
  transition: all 0s ease-in-out;
}

.menu_fixed {
  display: flex;
  position: fixed;
  background-color: white;
  height: 60px;
  padding-left: 16px;
  padding-right: 16px;
  top: 0px;
  width: 100vw;
  z-index: 999;
}

.menu_fixed .menu_fixed__button.open .menu_fixed__button--burger {
  visibility: hidden;
  transition: all 0s ease-in-out;
}

.menu_fixed .menu_fixed__title {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 140px;
}

.menu_fixed .menu_fixed__magnifier {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu_fixed .menu_fixed__magnifier {
    position: relative;
    display: inline;
    background: #E3F4FF;
    width: 249px;
    height: 48px;
    margin-top: 6px;
    margin-left: 24px;
  }
  .menu_fixed .menu_fixed__magnifier .menu_fixed__magnifier-- {
    position: absolute;
    top: 12px;
    left: 6px;
  }
  .menu_fixed .menu_fixed__magnifier input {
    position: absolute;
    left: 20px;
    width: calc(100% - 50px);
    border: none;
    background: #E3F4FF;
    transform: translateY(40%);
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
  }
}

.menu_fixed .menu_fixed__magnifier .menu_fixed__magnifier {
  width: 19px;
  transform: translateY(15px);
}

.menu_fixed .menu_fixed__magnifier2 {
  position: absolute;
  top: 20px;
  right: 90px;
  width: 19px;
}

@media only screen and (min-width: 768px) {
  .menu_fixed .menu_fixed__magnifier2 {
    display: none;
  }
}

.menu_fixed .menu_fixed__links {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 120px;
  top: 11px;
  background: white;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-name: example;
  animation-duration: 1s;
  border-radius: 100%;
  border: 4px solid #bbffd2;
}

@media only screen and (min-width: 768px) {
  .menu_fixed .menu_fixed__links {
    left: calc(184px + 249px + 60px);
  }
}

@media only screen and (min-width: 1366px) {
  .menu_fixed .menu_fixed__links {
    left: calc(184px + 249px + 150px);
  }
}

.menu_fixed .menu_fixed__links .menu_fixed__phone {
  position: absolute;
  top: -9px;
  width: 30px;
  transform: translateY(9px);
}

.menu_fixed .menu_fixed__links .menu_fixed__number {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu_fixed .menu_fixed__links .menu_fixed__number {
    display: block;
    width: 400px;
    margin-left: 53px;
    transform: translateY(8px);
    font-size: 16px;
    line-height: 19px;
    color: #1E1E1E;
  }
}

@keyframes example {
  0% {
    border-color: white;
  }
  100% {
    border-color: #c2622a;
  }
}

.menu_fixed .menu_fixed__button {
  position: absolute;
  right: 45px;
  width: 24px;
  height: 18px;
  padding-top: 29px;
}

@media only screen and (min-width: 768px) {
  .menu_fixed .menu_fixed__button {
    padding-right: 33px;
  }
}

@media only screen and (min-width: 1366px) {
  .menu_fixed .menu_fixed__button {
    display: none;
  }
}

.menu_fixed .menu_fixed__button .menu_fixed__button--burger {
  content: "";
  position: relative;
  width: 24px;
  height: 2px;
  background: black;
  visibility: visible;
}

.menu_fixed .menu_fixed__button .menu_fixed__button--burger span {
  display: none;
}

.menu_fixed .menu_fixed__button .menu_fixed__button--burger::before,
.menu_fixed .menu_fixed__button .menu_fixed__button--burger::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: black;
}

.menu_fixed .menu_fixed__button .menu_fixed__button--burger::before {
  transform: translateY(-8px);
  transition: all .5s ease-in-out;
}

.menu_fixed .menu_fixed__button .menu_fixed__button--burger::after {
  transform: translateY(8px);
  transition: all .5s ease-in-out;
}

.menu_fixed .menu_fixed__button.open .menu_fixed__button--burger::before {
  transform: rotate(-45deg);
  visibility: visible;
  transition: all .5s ease-in-out;
}

.menu_fixed .menu_fixed__button.open .menu_fixed__button--burger::after {
  transform: rotate(45deg);
  visibility: visible;
  transition: all .5s ease-in-out;
}

.menu_fixed .menu_fixed_wrapper {
  display: none;
}

@media only screen and (min-width: 1366px) {
  .menu_fixed .menu_fixed_wrapper {
    display: flex;
    position: absolute;
    right: 0px;
    width: 40%;
    height: 60px;
    flex-direction: row;
  }
  .menu_fixed .menu_fixed_wrapper a:hover {
    color: #005c1c;
    transition: all 0.3s ease-in-out;
  }
  .menu_fixed .menu_fixed_wrapper ul {
    display: flex;
    position: absolute;
    top: calc(50% - 7px);
    width: 100%;
    justify-content: space-around;
  }
  .menu_fixed .menu_fixed_wrapper ul li {
    padding-right: 90px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E1E1E;
  }
}

.nav_wrapper {
  display: inline;
  position: absolute;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-color: white;
  transition: all 0.2s ease-in-out;
  z-index: 99;
}

.nav_wrapper a:hover {
  color: #005c1c;
  transition: all 0.3s ease-in-out;
}

.nav_wrapper ul li {
  margin-top: 40px;
  text-align: center;
}

.nav_wrapper.close {
  display: inline;
  top: calc((-100vh - 60px));
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .menu_fixed__magnifier.active {
    display: flex;
    position: absolute;
    top: 70px;
    background: #ffe3e3;
    width: calc(100% - 110px);
    height: 48px;
    margin-top: 16px;
    margin-left: 24px;
  }
  .menu_fixed__magnifier.active input {
    position: absolute;
    margin-left: 6px;
    border: none;
    background: #ffe3e3;
    left: 40px;
    top: 20%;
    width: calc(100% - 60px);
    font-weight: 400;
    line-height: 24px;
    color: #1E1E1E;
  }
  .menu_fixed__magnifier.active .menu_fixed__magnifier-- {
    position: absolute;
    top: 12px;
    padding-left: 6px;
  }
}
